#---- Be advices that removing this file might break the app completely ----
#---- Please always keep an untouched copy of this file ----

WAS_ENTIRE_SHARED_FOLDER_SCANNED = "FALSE"
SCAN_XYZ_DAYS_BACK = "365"

# USED_LAST = "" #-- Formatting -> HH:MM:SS DD.MM.YYYY --