#---- PATHS ----
SHARED_INBOX_LOCATION = "" #-- Case Sensitive --
USERS_INBOX_LOCATION = "" #-- Case Sensitive --

#---- AREA TO SCAN ----
DOMAIN_LOCATION = "" #-- Case Sensitive --

FULL_SCAN = "0" #-- If 0 scans specified user --
SCAN_USER = "" #-- It takes a list of users separated with ';' -- Case Insensitive --

#---- CONSTANTS ----
MARK_OLDER_THAN = "0"  #-- Provide number of days, Takes integer --
