#---- PATHS ----
SHARED_INBOX_LOCATION = ""
USERS_INBOX_LOCATION = ""

#---- AREA TO SCAN ----
DOMAIN_LOCATION = ""

FULL_SCAN = "0" #-- If 0 scans specified user --
SCAN_USER = "" #-- It takes a list of users separated with ';' --

#---- CONSTANTS ----
MARK_OLDER_THAN = "0"  #-- Provide number of days, Takes integer --
