MOVE_MODE = "FALSE" #-- Takes 'FALSE' - disables moving, otherwise 'TRUE' --
FULL_MOVE = "FALSE" #-- 'FALSE' means that selected inboxes will be moved, otherwise 'TRUE' --

SELECTED_INBOXES_TO_MOVE = "" -- It takes a list of users separated with ';' --

MOVE_DUPES_TO_FOLDER = ""
