REMOVE_MODE = "FALSE" #-- Takes 'FALSE' - disables removing, otherwise 'TRUE' --
FULL_REMOVE = "FALSE" #-- 'FALSE' means that selected inboxes will be removed, otherwise 'TRUE' --

SELECTED_INBOXES_TO_REMOVE = "" -- It takes a list of users separated with ';' --